body {
    background-color: #1a1a1a;
}

h1 {
	position: relative;
	text-align: center;
	color: grey;
	font-family: 'Playball', cursive;
	font-size: 300%;
}

p {
	text-align: center;
	color: grey;
	font-family: 'Playball', cursive;
	font-size: 200%
	}

#welcome {
	position: relative;
    left: 33%;
}
	
	
#nav {
	margin: 0;
	padding: 0;
	background-color: #333;    
	list-style-type: none;    
	overflow: hidden;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover:not(.active) {
    background-color: #111;
}

#nav .active {
    background-color: #2c9489;
}
